.labelled-input {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.75rem;

  input {
    width: 100%;
  }
}

.failed-validation-message {
  color: var(--red-500);
}
