html {
  font-size: 14px;
}

body {
  background-color: #f2f2f2;
  color: var(--text-color);
  margin: 0;
  min-height: 100vh;

  &.lock-scroll {
    overflow: hidden;
  }
}

button {
  &.transparent-button {
    background-color: transparent;
    border: none;
  }
}
