<header>
  <!-- TOP BAR -->
  <div class="top-bar">
    <a routerLink="/dashboard" class="top-bar-logo">
      <img src="/assets/logos/logo2.png" alt="task tracker logo - white" />
      <span>Task Tracker</span>
    </a>
    <!-- USER ICON AND HAMBURGER MENU FOR MOBILE NAV -->
    <div class="top-bar-buttons">
      <a [routerLink]="['/users', currentUser.userId]"><app-user-icon [name]="currentUser.firstName" [pictureColour]="currentUser.pictureColour" /></a>
      <button class="hamburger-menu transparent-button" aria-label="open mobile navigation menu" (click)="setIsMobileNavOpen(true)">
        <i class="pi pi-bars"></i>
      </button>
    </div>
  </div>
  <!-- NAVIGATION MENU -->
  <app-nav (logout)="handleLogout()" (closeMobileNavMenu)="setIsMobileNavOpen(false)" [linkList]="linkList" [isMobileNavOpen]="isMobileNavOpen"/>
</header>
