<button pButton (click)="onOpenModal()">Create Project +</button>
<app-modal-data-wrapper header="Create Project" [visible]="visible" [isLoading]="(modalDataService.isLoading | async) || false">
  <div class="project-form-modal-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <app-labelled-input [control]="form.controls.name" label="Project Name *" placeholder="Project Name" />
    </form>
    <app-modal-footer-buttons confirmLabel="Create" (confirm)="onSubmit()" (cancel)="handleClose()" />
  </div>
</app-modal-data-wrapper>

