.p-datatable-loading-overlay {
  background-color: transparent;
  backdrop-filter: blur(5px);
}

.p-datatable-loading-icon {
  color: var(--primary-500);
  height: 4rem;
  animation: p-icon-spin 1s infinite cubic-bezier(0.18, 0.89, 0.32, 1.28);
  width: 4rem;
}

.datatable-link {
  &:hover {
    text-decoration: underline;
  }
}
