<ul class="comment-list">
  <li class="comment-list-comment" *ngFor="let comment of comments">
    <div class="comment-list-comment-user-icon-job-title">
      <app-user-icon [pictureColour]="comment.postedBy.pictureColour" [name]="comment.postedBy.firstName" />
      <span appTextTruncate maxWidth="100%">{{ comment.postedBy.jobTitle }}</span>
    </div>
    <div class="comment-list-comment-post">
      <span class="comment-list-comment-post-user-name">{{ comment.postedBy.firstName | name: comment.postedBy.lastName }}</span>
      <p class="comment-list-comment-post-content">{{ comment.comment }}</p>
      <small>{{ comment.dateTimeCreated | date: "dd/MM/yyyy 'at' HH:mm" }}</small>
    </div>
  </li>
</ul>
