@use "../../../../styles/styles.scss" as *;

.project-table-name {
  @include text-truncate(15rem);

  a {
    display: inline-block;
    width: 100%;

    &:hover {
      text-decoration: underline;
    }
  }
}
