<div class="project-list-container">
  <p-card header="Projects" subheader="A list of your team's projects" *ngIf="{ isLoading: isLoading | async, isError: isError | async, page: projectsData$ | async} as data">
    <!-- PROJECT TOOL BAR - CREATE PROJECT BUTTON AND SEARCH BAR -->
    <app-toolbar>
      <button appAuthLevelCheck method="POST" itemType="projects" pButton (click)="onOpenCreateModal()" label="Create Project +" ></button>
      <app-search-input (search)="updateParams($event)" placeholder="Search projects by name..." />
    </app-toolbar>

    <!-- PROJECT TABLE -->
    <app-data-table [headers]="tableHeaderConfig" [isError]="data.isError || false" [isLoading]="data.isLoading || false" [page]="data.page" (paramsChange)="updateParams($event)">
      <ng-template pTemplate="body" let-row>
        <tr>
          <td appTextTruncate maxWidth="15rem"><a class="datatable-link" [routerLink]="row.id">{{ row.name }}</a></td>
          <td>{{ row.totalTasks }}</td>
          <td><app-percentage-bar [value]="row.severeTasks" [total]="row.totalTasks" [invertColourValues]="true" /></td>
          <td><app-percentage-bar [value]="row.assignedTasks" [total]="row.totalTasks" /></td>
          <td><app-percentage-bar [value]="row.tasksNotStarted" [total]="row.totalTasks" [invertColourValues]="true" /></td>
        </tr>
      </ng-template>
    </app-data-table>

    <!-- PAGINATOR-->
    <app-paginator [page]="data.page" (pageChange)="updateParams($event)" />
  </p-card>
</div>

<!-- CREATE PROJECT FORM MODAL -->
<app-project-form-modal (submitForm)="handleCreateModalSubmit($event)" (closeModal)="handleCreateModalClose()" *ngIf="isCreateModalVisible" />
