<app-modal-data-wrapper header="Update Password">
  <div class="update-password-form-modal-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <app-labelled-input [control]="form.controls.password" type="password" label="New Password *" placeholder="New Password" helpText="Minimum 8 characters" />
      <app-labelled-input [control]="form.controls.confirmPassword" type="password" label="Confirm Password *" placeholder="Confirm Password" />
    </form>
    <app-modal-footer-buttons confirmLabel="Update" (confirm)="onSubmit()" (cancel)="handleCancel()" />
  </div>
</app-modal-data-wrapper>

