<!-- PROJECT HEADER CARD -->
<p-card class="project-details-card">
  <div class="project-details-header">
    <!-- PROJECT NAME -->
    <h1 class="project-details-header-name">{{ project.name }}</h1>

    <!-- PROJECT BUTTONS -->
    <div class="project-details-header-buttons">
      <button pButton (click)="onOpenEditProjectModal()" label="Edit Project"></button>
      <button pButton (click)="openDeleteProjectModal()" label="Delete Project" class="p-button-danger"></button>
    </div>
  </div>
</p-card>

<!-- PROJECT TASKS COUNT CARDS -->
<div class="flex-grid flex-grid-container project-details-count-cards">
  <div class="flex-grid flex-grid-col col-1">
    <app-count-card [count]="project.totalTasks" label="Total Tasks" />
  </div>
  <div class="flex-grid flex-grid-col col-1">
    <app-count-card [count]="project.tasksNotStarted" label="Tasks Not Started" bgColour="var(--orange-500)" icon="pi pi-calendar-times" />
  </div>
  <div class="flex-grid flex-grid-col col-1">
    <app-count-card [count]="project.assignedTasks" label="Assigned Tasks" bgColour="var(--green-500)" icon="pi pi-user" />
  </div>
  <div class="flex-grid flex-grid-col col-1">
    <app-count-card [count]="project.severeTasks" label="Severe Tasks" bgColour="var(--red-500)" icon="pi pi-exclamation-triangle" />
  </div>
</div>

<!-- PROJECT TASKS CARD -->
<p-card class="project-details-card" header="Project Tasks" subheader="A list of tasks belonging to this project" *ngIf="{ isTableLoading: isTableLoading | async, isTableError: isTableError | async, page: projectTasksData$ | async} as data">
  <!-- PROJECT TASKS TOOL BAR - OPEN CREATE TASK MODAL BUTTON, TASK SEARCH BAR -->
  <app-toolbar>
    <button pButton (click)="onOpenCreateTaskModal()" label="Create New Task +"></button>
    <app-search-input (search)="updateParams($event)" placeholder="Search for tasks by title..." />
  </app-toolbar>

  <!-- PROJECT TASKS FILTER -->
  <app-filter-dropdown [config]="tableFilterConfig" (filter)="updateParams($event)" />

  <!-- PROJECT TASKS TABLE -->
  <app-data-table [headers]="tableHeaderConfig" [isError]="data.isTableError || false" [isLoading]="data.isTableLoading || false" [page]="data.page" (paramsChange)="updateParams($event)">
    <ng-template pTemplate="body" let-row>
      <tr>
        <td appTextTruncate maxWidth="20rem">
          <a class="datatable-link" [routerLink]="['/tasks', row.id]">{{ row.title }}</a>
        </td>
        <td>
          <app-assigned-user [assignedUser]="row.assignedUser" />
        </td>
        <td><app-task-status-tag [value]="row.status" /></td>
        <td><app-task-priority-tag [value]="row.priority" /></td>
        <td>{{ row.dateTimeCreated | date: "dd/MM/yyyy" }}</td>
        <td>{{ row.dateTimeUpdated | date: "dd/MM/yyyy" }}</td>
      </tr>
    </ng-template>
  </app-data-table>

  <!-- PAGINATOR-->
  <app-paginator [page]="data.page" (pageChange)="updateParams($event)" />
</p-card>

<!-- EDIT PROJECT MODAL -->
<app-project-form-modal (submitForm)="handleEditProjectModalSubmit($event)" (closeModal)="handleEditProjectModalClose()" *ngIf="isEditProjectModalVisible" [formEditData]="{name: project.name}" />
<!-- DELETE PROJECT MODAL -->
<app-delete-modal (confirmDelete)="handleDeleteProjectModalConfirm()" (closeModal)="handleDeleteProjectModalClose()" *ngIf="isDeleteProjectModalVisible" label="project" />
<!-- CREATE TASK FOR PROJECT MODAL -->
<app-task-form-modal (closeModal)="handleCreateTaskModalClose()" (submitForm)="handleCreateTaskModalSubmit($event)" *ngIf="isCreateTaskModalVisible" />
