@use "../../../../styles/styles.scss" as *;

.project-details-card {
  display: block;
}

.project-details-card,
.project-details-count-cards {
  margin-bottom: 1.5rem;
}

.project-details-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  padding: 0 0.5rem;

  .project-details-header-name {
    margin: 0;
  }

  .project-details-header-buttons {
    display: flex;
    gap: 0.5rem;
  }

  @include md-breakpoint {
    align-items: center;
    flex-direction: row;
  }
}

.project-details-count-cards {
  &.flex-grid-container {
    @include md-breakpoint {
      flex-direction: row;
    }
  }
}
