@use "../../../../styles/styles.scss" as *;

.project-details-container-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;

  .project-details-container-name {
    margin: 0;
    @include text-truncate(100%);
  }

  .project-details-container-buttons {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include md-breakpoint {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @include md-breakpoint {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

.project-details-container-count-cards {
  &.flex-grid-container {
    @include md-breakpoint {
      flex-direction: row;
    }
  }
}
