@use "../../../../styles/styles.scss" as *;

.project-details-container-header {
  margin: 0;
  margin-bottom: 1rem;
  @include text-truncate(100%);
}

.project-details-container-buttons {
  margin-bottom: 3rem;
}

.project-details-container-count-cards {
  &.flex-grid-container {
    @include md-breakpoint {
      flex-direction: row;
    }
  }
}
