@use "../abstracts/media-queries" as *;

.split-row-into-columns {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include md-breakpoint {
    flex-direction: row;
  }
}

$gap: 1.5rem;
.flex-grid {
  display: flex;
  gap: $gap;

  &.flex-grid-container {
    flex-direction: column;
    max-width: 100%;
    overflow: auto;

    @include lg-breakpoint {
      flex-direction: row;
    }
  }

  &.flex-grid-col {
    flex-direction: column;

    &.col-1 {
      flex: 1;
    }

    &.col-2 {
      flex: 2;
    }

    &.col-3 {
      flex: 3;
    }

    &.col-4 {
      flex: 4;
    }

    &.col-5 {
      flex: 5;
    }

    &.col-6 {
      flex: 6;
    }

    &.col-7 {
      flex: 7;
    }

    &.col-8 {
      flex: 8;
    }
  }
}
