@use "../../../styles/styles.scss" as *;

.filter-dropdown-container {
  padding: 0.5rem;

  .filter-dropdown-filters {
    padding: 0.5rem 0;

    .filter-dropdown-filters-filter {
      margin-bottom: 2rem;

      &:last-of-type {
        margin-bottom: 0.5rem;
      }

      .filter-dropdown-filters-filter-name {
        margin: 0;
        margin-bottom: 1rem;
      }

      .filter-dropdown-filters-filter-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
    }
  }

  .filter-dropdown-apply-button {
    margin-right: 1rem;
  }
}
